# IGNORE images FOLDER, WHICH HAS BIG PHOTOS!
# AND audio FOLDER, WHICH HAS CHUNKY WAV FILES!
# MAKE A DROPBOX BACKUP OF images & audio FOLDER

source/game/images/
source/game/audio/
source/game/saves/
source/game/script-z-textHeaven
source/game/saves/